body{
    height: 100vh;
}
#container{
    border: 1px solid black;
    width: 400px;
    height: 90%;
    background-color: rgb(146, 245, 245);
}
#screen{
    margin: 5%;
    width: 90%;
    height: 20%;
    background-color: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 1000;
    text-align: right;
    vertical-align: bottom;
    line-height: 120px;
    
}
#flex{
    display: flex;
    position: relative;
    top: 5%;
}
#numbers{
    width: 50%;
    height: 60%;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.digit{
    background-color: black;
    color: white;
}
#o-con{
    width: 50%;
    height: 60%;
    
    display: flex;
    flex-wrap: wrap;
    gap: 35px;
    justify-content: center;
    align-items: center;
}
.extra{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    justify-content: center;
    align-items: center;
}
.op{
    background-color: rgb(79, 103, 153);
    color: rgb(60, 190, 21);

}
.btn{
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 20px;
    font-weight: 1000;
    text-align: center;
    cursor: pointer;
}