#gallery{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    gap: 5px;
    justify-content: center;
}
#search{
    width: 80%;
    border-radius: 20px;
    border: 1px solid blue;
    outline: none;
    padding: 0px 10px;
}
label{
    background-color: green;
    padding: 4px 7px;
    border-radius: 20px;
    color: white;
}
.card{
    position: relative;
    display: flex;
    width: 200px;
    border: 1px solid black;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image{
    width: 190px;
    height: 120px;
    object-fit: cover;
}
.cross{
    visibility: hidden;
    position: absolute;
    top:0px;
    right: 0px;
    z-index: 1;
    /* background-color: white; */
    backdrop-filter: blur(10px);
    cursor: pointer;
}
.card:hover .cross{
    visibility: visible;
}
.title{
    text-align: center;
    margin: 5px 0px;
}